name: $(Build.SourceBranch)-$(date:yyyyMMdd)$(rev:.r)

trigger:
  branches:
    include:
      - main

  tags:
    include:
      - '*'
pr:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: templates
      type:       github
      name:       statisticsnorway/azure-pipelines-templates
      ref:        refs/tags/1.1.11
      endpoint:   statisticsnorway (6)

# Pipeline will be run on this base image
pool:
  vmImage:  'ubuntu-latest'

# Variables global to this pipeline
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables
variables:

  # Variables defined in Pipelines->Library->Variable Groups in your project in
  # Azure Pipelines
  - group:  Hemmeligheter

  # Variables defined here
  - name:   MAVEN_CACHE_FOLDER
    value:  $(Pipeline.Workspace)/.m2/repository
  - name:   MAVEN_OPTS
    value:  '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

# Job which will run mvn build, mvn install
jobs:
  - job: buildTest
    displayName: 'compile deploy app'
    container: maven:3-adoptopenjdk-15

    # Job condition: Run these jobs on any branch, but not on tags
    condition:  not(startsWith(variables['Build.SourceBranch'], 'refs/tags'))

    # Steps in this Job
    steps:

      # Authenticate Maven to Nexus using predefined Service Connections
      - template: maven/task-authenticate.yml@templates

      # Maven caching to speed up pipeline build time
      - template: maven/task-cache.yml@templates

      - task: Maven@3
        displayName: 'Maven test and verify'
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'verify test'
          options: '-P ssb-bip,coverage --batch-mode $(MAVEN_OPTS)'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          codeCoverageToolOption: 'JaCoCo'
          codeCoverageFailIfEmpty: true
          mavenVersionOption: 'Default'
          mavenOptions: '-Xmx3072m'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false
          checkStyleRunAnalysis: true
          pmdRunAnalysis: true

      - template: maven/task-sonar-analyze.yml@templates

      # Deploy artifact to Nexus
      - template: maven/task-install-and-deploy-to-nexus.yml@templates