name: $(Build.SourceBranch)-$(date:yyyyMMdd)$(rev:.r)

trigger:
  branches:
    include:
      - main

  tags:
    include:
      - '*'
pr:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: templates
      type:       github
      name:       statisticsnorway/azure-pipelines-templates
      ref:        refs/tags/1.1.30
      endpoint:   statisticsnorway

# Pipeline will be run on this base image
pool:
  vmImage:  'ubuntu-latest'

# Variables global to this pipeline
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables
variables:

  # Variables defined in Pipelines->Library->Variable Groups in your project in
  # Azure Pipelines
  - group:  Hemmeligheter

  # Variables defined here
  - name:   MAVEN_CACHE_FOLDER
    value:  $(Pipeline.Workspace)/.m2/repository
  - name:   MAVEN_OPTS
    value:  '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

jobs:
  - job: javaLibraryCompleteBuild
    displayName: 'Java library - build, verify, publish'
    container: maven:3-jdk-11
    # Run these jobs on any branch, but not on tags
    condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/'))

    steps:
      # Download GCR credentials
      - template: maven/task-authenticate-gar.yml

      # Cache to speed up pipeline build time
      - template: maven/task-cache.yml

      # Maven test and verify (with Sonar, Checkstyle, PMD) and publish to Sonarcloud
      - template: maven/task-verify.yml
        parameters:
          sonarCloud: bipSonarCloud-Dapla
          checkStyleRunAnalysis: true
          pmdRunAnalysis: true
          sonarQubeRunAnalysis: false

      # Deploy to Google Artifact Registry
      - template: maven/task-install-and-deploy-to-gar.yml
